.auth {
	margin: 160px auto 80px;
	border: 1px solid $main-color;
	max-width: 600px;
	position: relative;
	padding: 30px 20px 20px;

	&__title {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $main-color;
		font-size: 2.2rem;
		font-weight: 600;
		padding: 4px;
		background-color: $main-bg;
		border: 1px solid $main-color;
	}

	&__form {
		display: flex;
		flex-direction: column;
		margin-top: 15px;

		&__group {
			display: flex;
			flex-direction: column;

			& ~ & {
				margin-top: 20px;
			}

			&__label {
				color: $main-color;
				font-size: 1.6rem;
				margin-bottom: 10px;
			}
		}

		&__spinner {
			margin-right: 10px;
		}
	}

	&__link {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		&__item {
			margin-top: 15px;

			&__text {
				margin-right: 4px;
			}

			&__link {
				text-decoration: underline;
				color: $txt-color-1;
			}
		}
	}

	&__error {
		font-size: 1.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		animation: fadeIn 0.3s ease-in;
	}

	&__oauth {
		display: flex;
		margin-top: 15px;
		justify-content: space-between;

		&__item {
			display: block;
			width: max-content;

			&__btn {
				font-size: 1.6rem !important;
				margin: 0 !important;
				margin: 0 !important;
				width: 100% !important;

				div {
					white-space: nowrap !important;
				}
			}
		}
	}
}
