.dropdown {
	width: 100%;
	font-size: 1.6rem;
	border: 1px solid #ddd;
	position: relative;
	user-select: none;

	&__btn {
		@include flex(center, space-between);
		padding: 10px 15px;
		cursor: pointer;
		border: 1px solid transparent;
		transition: border ease-in 0.3s;

		&:hover {
			border: 1px solid $main-color;
		}

		&__icon {
			transform: translateY(1px);
			transition: transform 0.3s ease-in;
			font-size: 1.4rem;

			i {
				display: block;
			}
		}
	}

	&__content {
		position: absolute;
		top: calc(100% + 5px);
		left: 0;
		width: 100%;
		padding: 10px 0;
		opacity: 0;
		visibility: hidden;
		background-color: $main-bg;
		border: 1px solid #ddd;
		box-shadow: 0px 3px 25px 5px rgba(0, 0, 0, 0.06);
		transition: opacity ease-in 0.1s, visibility ease-in 0.1s;

		&__item {
			cursor: pointer;
			padding: 4px 15px;

			& ~ & {
				margin-top: 2px;
			}

			&:hover {
				background-color: $background-color;
			}
		}
	}

	&.active &__btn {
		border: 1px solid $main-color;

		&__icon {
			transform: translateY(-1px) rotate(180deg);
		}
	}

	&.active &__content {
		opacity: 1;
		visibility: visible;
	}
}
