.input {
	display: flex;
	flex-direction: column;

	&__text,
	&__password {
		border: 1px solid $main-color;
		outline: none;
		padding: 8px 8px 8px 10px;
	}

	&__error {
		display: block;
		margin-top: 10px;
		animation: fadeIn 0.3s ease-in;
	}
}
