.input {
	display: flex;
	flex-direction: column;

	input {
		border: 1px solid $txt-color-2;
		outline: none;
		padding: 8px 8px 8px 10px;
		outline: 1px solid transparent;
		transition: border 0.2s ease-in;

		&:hover,
		&:focus {
			outline: 1px solid $main-color;
			// border: 1px solid $main-color;
		}

		&.readonly {
			cursor: not-allowed;
		}
	}

	&__error {
		display: block;
		margin-top: 10px;
		animation: fadeIn 0.3s ease-in;
	}
}
