.product-view__modal {
	position: fixed;
	inset: 0;
	z-index: 999;
	padding-top: 60px;
	background-color: rgba($color: #000000, $alpha: 0.6);
	overflow: auto;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&__content {
		width: 60%;
		min-height: 100vh;
		margin: auto;
		padding: 2rem;
		position: relative;
		background-color: $main-bg;
		transform: translateY(-250px);
		transition: transform 0.6s ease;
		opacity: 0;

		&__btn {
			@include flex(center, flex-end);
			background-color: transparent;
		}

		&__loading {
			width: 100%;
			@include flex(center, center);
		}
	}

	&.active &__content {
		transform: translateY(0);
		opacity: 1;
	}
}
