.product {
	@include flex();
	padding: 2rem 1rem;

	@include sm {
		flex-wrap: wrap;
	}

	&__imgs {
		@include flex();
		width: 60%;
		flex-wrap: wrap;
		flex-shrink: 0;

		@include sm {
			width: 100%;
			padding: 0 1rem;
		}

		&__wrap {
			@include flex();
			width: 100%;
			position: relative;
		}

		&__list {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 15%;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 5px;
			}

			&::-webkit-scrollbar-track {
				box-shadow: none;
			}

			&__item {
				& ~ & {
					margin-top: 2px;
				}

				img {
					display: block;
					width: 100%;
					cursor: pointer;
					border: 2px solid transparent;
					transition: border 0.3s ease-in;

					&.active {
						border: 2px solid $main-color;
					}
				}
			}
		}

		&__main {
			width: 100%;
			padding-left: 16%;

			img {
				width: 100%;
			}
		}
	}

	&__desc {
		width: 100%;
		margin-top: 8rem;
		position: relative;

		&.mobile {
			display: none;
		}

		@include sm {
			display: none;

			&.mobile {
				display: block;
				margin-top: 8rem;
			}
		}

		&__title {
			font-size: 2.6rem;
			font-weight: 600;
			text-decoration: underline;
		}

		&__content {
			font-size: 1.6rem;
			line-height: 1.5;
			margin-top: 2rem;
			overflow: hidden;
			max-height: 50rem;

			&.active {
				max-height: fit-content;
			}
		}

		&__btn {
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translate(-50%, calc(100% + 6px));
		}
	}

	&__info {
		position: sticky;
		top: calc(#{$header-shrink-height});
		flex-grow: 1;
		margin-left: 3rem;

		&.modal {
			top: 0;
		}

		&__name {
			font-size: 3rem;
			font-weight: 500;
		}

		&__item {
			margin-top: 2rem;

			&__title {
				font-size: 2rem;
				font-weight: 500;
				margin-bottom: 1rem;
			}

			&__text {
				font-size: 2rem;
				font-weight: 500;
				color: $main-color;

				&.error {
					color: $error-color;
				}

				&.minor {
					font-size: 2rem;
					font-weight: 500;
					color: $txt-color-2;
				}
			}

			&__desc {
				margin-left: 10px;
				text-transform: capitalize;
			}

			&__list {
				@include flex();
				& > * ~ * {
					margin-left: 1rem;
				}
				&__item {
					@include flex(center, center);
					width: 40px;
					height: 40px;
					border-radius: 50%;
					cursor: pointer;
					border: 3px solid $txt-color-2;

					&.active,
					&:hover {
						border-color: $main-color;
					}
					.circle {
						width: 30px;
						height: 30px;
						border-radius: 50%;
					}
					.size {
						@include flex(center, center);
						width: 100%;
						height: 100%;
						border-radius: 50%;
						font-size: 2rem;
						text-transform: uppercase;
						color: $txt-color-2;
					}
				}
			}
		}

		&__btn {
			& > * {
				margin-top: 2rem;
			}

			& > *:first-child {
				margin-right: 2rem;
			}
		}

		@include sm {
			position: static;
			width: 100%;
			margin-top: 2rem;

			&__name {
				font-size: 3rem;
			}

			&__item {
				margin-top: 1rem;

				&__btn {
					margin-top: 2rem;
				}
			}

			&__price {
				font-size: 2.6rem;
			}
		}
	}
}
