.quantity {
	@include flex();
	color: $txt-color-2;
	background-color: $main-bg;

	&__btn {
		@include flex(center, center);
		width: 30px;
		height: 30px;
		font-size: 1.8rem;
		border: 2px solid $txt-color-2;
		cursor: pointer;

		&.sm {
			width: 20px;
			height: 20px;
			font-size: 1.6rem;
		}
	}

	&__input {
		@include flex(center, center);
		width: 60px;
		height: 30px;
		border-top: 2px solid $txt-color-2;
		border-bottom: 2px solid $txt-color-2;
		font-size: 1.8rem;

		&.sm {
			width: 30px;
			height: 20px;
			font-size: 1.5rem;
		}
	}
}
