.user__content__password {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;

	&__wrapper {
		width: 80%;
	}

	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	.user__form__label {
		width: 200px;
	}
}
