.input {
	display: flex;
	flex-direction: column;

	&__text,
	&__password {
		border: 1px solid $main-color;
		outline: none;
		padding: 4px 4px 4px 10px;
	}

	&__error {
		display: block;
		margin-top: 10px;
	}
}
