$sm-width: 760px;
$md-width: 992px;
$lg-width: 1200px;

$header-height: 100px;
$header-lg-height: 100px;
$header-md-height: 70px;
$header-sm-height: 40px;
$header-shrink-height: 70px;

$main-color: #4267b2;

$main-bg: #fff;

$error-color: #b00220;

$background-color: #add8e6;

$txt-color-1: #000;
$txt-color-2: #8d8d8d;
$txt-white: #fff;
$txt-orange: #ee4d2d;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$colors: (
	'blue': #4267b2,
	'orange': #fbb96b,
	'pink': #fe7e73,
	'white': #fff,
	'black': #000,
	'main': $main-color,
	'red': red,
);

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
