@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './variable';
@import './animations';
@import './mixins';
@import './base';

// Components
@import './components/header';
@import './components/hero-slide';
@import './components/button';
@import './components/policy-card';
@import './components/footer';
@import './components/product-card';
@import './components/section';
@import './components/custom-checkbox';
@import './components/product';
@import './components/quantity';
@import './components/product-modal';
@import './components/input';
@import './components/dropdown';
@import './components/userForm';
@import './components/userProfile';
@import './components/userPassword';
@import './components/table';

// Pages
@import './pages/auth';
@import './pages/catalog';
@import './pages/cart';
@import './pages/show-verification';
@import './pages/user';
